# Token BOT MANAGER dari @BotFather
BOT_TOKEN=8806088786:AAGbyi-utm1uviLcF8ra_4wVbPncF8xYQCk

# Port API. Pterodactyl biasanya menyediakan PORT sendiri.
PORT=3000

# API key untuk endpoint /api/token/*
# Ganti dengan nilai acak yang panjang.
API_KEY=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


NODE_ENV=production
